@font-face {
  font-family: "MorningBreeze-Bold";
  src: local("MorningBreeze-Bold"),
   url("./fonts/MorningBreez/MorningBreeze-Bold.otf") format("OpenType");
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: "MorningBreeze-Light";
    src: local("MorningBreeze-Light"),
     url("./fonts/MorningBreez/MorningBreeze-Light.otf") format("OpenType");
    font-weight:lighter;
    font-style: normal;
}

@font-face {
      font-family: "MorningBreeze";
      src: local("MorningBreeze"),
       url("./fonts/MorningBreez/MorningBreeze.otf") format("OpenType");
      font-weight:normal;
      font-style: normal;
}
